---
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";
import PeekCat1 from "../Images/peekCat.svg";
import PeekCat2 from "../Images/stareCat.svg";
---

<Layout title="Cat Facts :3">
	<h1>Cat Facts</h1>
	<div id="InfoBox" class="InfoBox">
		<p id="Fact">Paws-itively Loading...</p>
	</div>

	<button id="trigger">Purr-haps next?</button>
	<img
		src={PeekCat1.src}
		alt="A cat just looking at u not sure what it wants"
		class="PeekCat1"
	/>
	<img
		src={PeekCat2.src}
		alt="two cats just looking at you"
		class="PeekCat2"
	/>

	<script>
		const button = document.querySelector("button#trigger");
		const fact = document.querySelector("p#Fact");

		button.addEventListener("click", async () => {
			const response = await fetch(
				"https://catfact.ninja/fact?max_length=150"
			);
			const data = await response.json();
			if (fact) {
				fact.textContent = data.fact;
			}
		});

		document.onload = button.click();
	</script>
</Layout>

<style>
	.InfoBox {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		font-family: "Oriental Cats";
		font-style: normal;
		line-height: normal;
		border-radius: 1rem;
		border: 5px solid #ccd5ae;
		background: #e9edc9;
		margin: 6rem 8rem;
	}
	p#Fact {
		font-size: 2.5rem;
		text-align: center;
		padding: 1rem;
	}
	button#trigger {
		border-radius: 1rem;
		border: 2px solid #d4a373;
		font-size: 2rem;
		background: #fefae0;
		padding: 1rem;
		color: #000;
		font-family: "Oriental Cats";
		font-size: 3rem;
	}

	button#trigger:hover {
		background: #fcf2ae;
	}

	.PeekCat1 {
		position: absolute;
		bottom: 7%;
		right: 0;
		width: 20%;
		z-index: -1;
		mix-blend-mode: multiply;
	}

	.PeekCat2 {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 20%;
		z-index: -1;
		mix-blend-mode: multiply;
	}
</style>
