---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<!-- I hate my self for this next line -->
		<meta
			name="description"
			content="Paws and Visit Us for Purrfect Cat Facts on Our Cozy Website!"
		/>
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<!-- Meta DATA -->
		<meta name="generator" content={Astro.generator} />
		<meta name="robots" content="index, follow" />
		<meta name="theme-color" content="#faedcd" />
		<meta property="og:title" content="Machine Learning Workshop" />
		<meta
			property="og:description"
			content="Paws and Visit Us for Purrfect Cat Facts on Our Cozy Website!"
		/>
		<meta
			property="og:image"
			content="https://cosy-cat-facts.vercel.app/MetaImg.jpg"
		/>
		<meta
			property="og:image:alt"
			content="A Black cat looking at you while going into its box"
		/>

		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	@font-face {
		font-family: "Oriental Cats";
		src: url("/OrientalCats.otf") format("otf");
	}
	:root {
	}
	* {
		margin: 0;
	}
	html {
		/* height: 100%;
		width: 100%; */
		background-color: #faedcd;
	}

	body {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		font-family: "Oriental Cats";
		font-style: normal;
		line-height: normal;
	}
	h1 {
		margin-top: 4.75rem;
		color: #000;
		font-size: 9rem;
		font-weight: 300;
	}
</style>
